<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/default.css">
  <link rel="script" href="default.js"> 
</head>

<body>
<center>
<div id="drawingArea">
  <% boxList.results.forEach(function(box){ %>
    <div class="drawnBox" style="background-color:<%= box.ColorName %>;min-width:<%= box.Height %>px;min-height:<%= box.Width %>px;display:inline-block;margin:5px"></div>
  <% }) %>
</div>
<div>
  <table id="rectList">
    <thead>
      <td id="nameHeader">Name</td>
      <td id="colorHeader">Color</td>
    </thead>
    <!-- Should draw one row per entry in the DB? -->
    <% boxList.results.forEach(function(box){ %>
    <tr>
      <td><a href="singleBox.ejs/<%box.Name%>"><%= box.Name %></a></td>
      <td><%= box.ColorName %></td>
    </tr>
    <% }); %>
  </table>
  <a href="addBox"><button id="addButton">Add A Box</button></a>
</div>
</center>
</body>
</html>
