<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/oneBox.css">
  <link rel="script" href="../default.js">
</head>

<body>
<center>
  <% var box = singleBox.results[0]; %>
<div id="drawingArea">
  <div class="drawnBox" style="background-color:<%= box.ColorName %>;min-width:<%= box.Width %>px;min-height:<%= box.Height %>px;display:inline-block;margin:5px"></div>
</div>
<div>
  <form method="POST" id="modifyBox">
    <table id="updateBox">
        <thead>
          <td id="entryHeader">Entry</td>
          <td id="valueHeader">Value</td>
        </thead>
        <tr>
          <td>Name:</td>
          <td><input type="text" id="nameInput" name="nameInput" value="<%= box.Name %>"></td>
        </tr>
        <tr>
          <td>Color: <br /><font size="0.8em">(only HTML color names supported)</font></td>
          <td><input type="text" id="colorInput" name="colorInput" value="<%= box.ColorName %>"></td>
        </tr>
        <tr>
          <td>Color (Hex): <br /><font size="0.8em">(not used to draw the box, can enter any value)</font></td>
          <td><input type="text" id="hexInput" name="hexInput" value="<%= box.ColorHex %>"></td>
        </tr>
        <tr>
          <td>Height</td>
          <td><input type="number" id="heightInput" name="heightInput" value="<%= box.Height %>"></td>
        </tr>
        <tr>
          <td>Width:</td>
          <td><input type="number" id="widthInput" name="widthInput" value="<%= box.Width %>"></td>
        </tr>
        <tr>
          <td>Total Area:</td>
          <td><input type="number" id="areaInput" name="areaInput" value="<%= box.Area %>"></td>
        </tr>
        <tr>
          <td>ID:<br /><font size="0.8em">(cannot be modified)</font></td>
          <td><input type="number" id="IDInputDisabled" name="IDInputDisabled" value="<%= box.ID %>" readonly></td>
        </tr>
    </table>
</div>
<div>
  <input type="submit" value="Save">
  </form>
  <a href="menu"><button id="cancelButton">Cancel</button></a> 
</div>
</center>
</body>
</html>

